- main_toolbar do |t|
  = t.edit resource
  = t.destroy resource
= main_informations do
  = infos do
    .med-info
      %span.title= :code.tl
      %span.value= resource.code
    .med-info.campaign
      %span.title= :campaign.tl
      %span.value= resource.campaign.name
    .med-info.important
      %span.title= :auditor.tl
      %span.value= resource.auditor&.name

= cobbles do |c|
  - c.cobble(:functional_diversity) do
    - fd_indicators = resource.idea_diagnostic_items # with scope please !
    %table
      - fd_indicators.sort_by(&:idea_id).each do |indicator|
        %tr
          %td.h4.idea-borders= "#{indicator.idea_id} - #{indicator.name}"
          - ind_value = indicator.value.nil? ? '-' : indicator.value
          - ind_ratio = indicator.value.nil? ? 0 : (ind_value / indicator.treshold.to_f)*100
          %td.h4.idea-borders= "#{ind_value} / #{indicator.treshold}"
          %td.idea-borders.idea-action-col
            - if indicator.value.nil?
              %a.idea_duke{href: "#", data: {indicator: "#{indicator.idea_id}", diagnostic_id: "#{resource.id}"}}= content_tag(:i, nil, class: 'icon icon-mode-edit')
            - else
              %a= content_tag(:i, nil, class: 'icon icon-done')
          %td.idea-borders.idea-action-col
            %a.idea_restart{:href => "#", data: {indicator: "#{indicator.idea_id}", diagnostic_id: "#{resource.id}"}}= content_tag(:i, nil, class: 'icon icon-redo')
        %tr.idea-borders
          %td.idea-borders.idea-diag-progress.prog-bar{colspan: 2}
            .progress-bar{ role:"progressbar", style: "width: #{ind_ratio}%;"}  &nbsp;
          %td.idea-borders.idea.idea-diag-progress{colspan: 2}
